body{
  background-color: silver;
}
#cabecalho {
  background-color: whitesmoke;
  border: 2px solid lightslategrey;
  border-radius: 15px;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  height: 160px
}

#title {
  color: lightslategrey;
  font-size: 50px;
  padding: 15px;
  text-align: center;
  margin-left: 500px;  
}

#logo-git {
  position: relative;
  width: 100px;
  margin-left: 20px;
  bottom: 50px;
}

#linkedin {
  position: relative;
  width: 40px;
  margin-left: 20px;
  left: 120px;
  bottom: 80px;
}

#sobre {
  position: relative;
  background-color: whitesmoke;
  max-width: 50%;
  border: 2px solid lightslategray;
  margin-left: auto;
  margin-right: auto;
}

#subtitle {
  text-align: center;
  font-size: 25px;
  color: lightslategray;
}

#paragrafo {
  text-align: center;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  margin-bottom: 30px;
}

#section {
  position: relative;
  top: 40px;
  background-color: whitesmoke;
  max-width: 50%;
  border: 2px solid lightslategray;
  margin-left: auto;
  margin-right: auto;
}

#subititle2 {
  text-align: center;
  font-size: 25px;
  color: lightslategray;
}

#paragrafo2 {
  text-align: center;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  margin-bottom: 30px;
}

#projeto1, #projeto2, #projeto3, #projeto4 {
  position: relative;
  left: 500px;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  border: 2px solid lightslategrey;
  padding: 15px;
  color: lightslategrey;
  background-color: whitesmoke;
}
