*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Balsamiq Sans', cursive;
}

body{
  background-image: url("1f59b370b102d3a19f3fafd61cf5ccb9.jpg");
  background-size: cover;
}

.header {
  background-color: whitesmoke;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header h1 {
  margin-left: 50px;
  font-size: 50px;
}

.linkedin {
  position: relative;
  font-size: 35px;
  color: black;
  opacity: 0.5;
  cursor: pointer;
}

.git {
  position: relative;
  margin-right: 50px;
  color: black;
  font-size: 35px;
  opacity: 0.5;
  cursor: pointer;
}

a:hover{
  opacity: 1;
}

.sobre{
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  top: 30px;
  margin-top: 50px;
  width: 80%;
  justify-content: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 50px;
  border-radius: 15px;
  opacity: 0.8;
}

.sobre h2 {
  font-size: 30px;
}

.sobre p {
  font-size: 18px;
  margin-top: 10px;
}

.projetos {
  justify-content: center;
  text-align: center;
  position: relative;
  width: 80%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.projetos h3 {
  color: white;
  font-size: 45px;
  padding: 20px 30px;
}

.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 50px;
}

.nav a {
  background-color: white;
  padding: 30px 40px;
  border-radius: 15px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

hr {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
