@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');

@media only screen and (max-width: 768px) {
  .homeImg img {
    display: none;
  }

  section#home {
    align-items: center;
    display: flex;
    height: calc(100vh + 80px);
    justify-content: center;
    padding: 5px 20px;
    width: 100%;
  }
  
  .homeInfo {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    width: 100%;
  }
}

* {
  box-sizing: border-box;
  font-family: 'Signika', sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fcfbff;
  display: flex;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
main {
  width: 1120px;
}

header {
  align-items: center;
  background-color: #fcfbff;
  box-shadow: 0 1px 0 #ececec;
  display: flex;
  height: 80px;
  justify-content: space-between;
  max-width: 100vw;
  padding: 5px 0px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.navBar {
  display: flex;
  gap: 30px;
  margin-right: 10px;
}

a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.imgLogo {
  border-radius: 50%;
  height: 200px;
  position: relative;
  width: 180px;
}

section#home {
  align-items: center;
  background-image: url(./img/bgroundblack.jpg);
  background-size: cover;
  display: flex;
  height: calc(100vh + 80px);
  justify-content: space-around;
  mask-image: linear-gradient(to top, transparent 1%, rgb(32,35,40) 1%);
  -webkit-mask-image: linear-gradient(to top, transparent 0.1%, rgb(32,35,40) 20%);
  padding: 5px 20px;
  width: 100vw;
  color: white;
}

.homeInfo {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: justify;
  width: 50%;
}

.homeImg {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 30%;
}

.homeImg img {
  border-radius: 20px;
  height: 350px;
  width: 300px;
}

section#projects {
  align-items: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  height: calc(100vh + 80px);
  justify-content: center;
  width: 100vw;
}

.projectImg {
  width: 50%;
}

.projectImg img {
  box-shadow: 0 1px 2px #0003;
  object-fit: cover;
  width: 50%;
}

.projectInfo {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 50%;
}

.swiper {
  height: 500px;
  width: 95vw;
}

.swiper-slide {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 30px;
  text-align: center;
}

.swiper-button-next, .swiper-button-prev {
  color: black;
}
.swiper-pagination-bullet-active {
  background-color: black;
}

footer {
  box-shadow: 0 -1px 0 0 #ececec;
  padding: 50px;
  text-align: center;
  width: 100vw;
}

.contactButton {
  background-color:#1f6feb;
  border: 0px solid transparent;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  padding: 20px;
  text-align: center;
  width: 250px;
}

.sectionButton {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  opacity: 0.9;
  padding: 0 30px;
  width: 100vw;
}

.sectionButton:hover {
  opacity: 1;
}